*{
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
}


.container{
  width: 100%;
  box-sizing: border-box;
  padding: 20px 80px 20px 80px;
  
}

.contentInfo{
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
}

.personalDetails{
  width: 25em;
  line-height: 1.8;
  color: white;
  /* background-color: #0a1520; */
  background-color: rgb(5, 5, 51);
}

.personalDetails h2{
  font-size: 25px;
  margin: 0 0 0 20px;
  color: rgb(18, 209, 239);
  cursor: pointer;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.personalDetails h1{
  padding: 30px;
  text-decoration: underline;
  text-decoration-style:solid;
  text-decoration-color: aqua;
  text-decoration-thickness: 5px;
}

.personalDetails h2:hover{
  color: rgb(234, 208, 243);
}

.personalDetails ul{
  list-style-type:square;
}

.contact{
  padding: 10px;
  margin: 0 0 30px 40px;
}

.Professional{
  padding: 5px;
  margin: 0 0 20px 40px;
}

.Professional p{
  padding-right: 20px;
  text-align:justify;
}

.competencies{
  padding: 10px;
  margin: 0 0 20px 40px;
}

.intrest{
  padding: 10px;
  margin: 0 0 20px 40px;
}

.Qualification{
  padding: 10px;
  margin: 0 0 20px 40px;
}

.awards{
  padding: 10px;
  margin: 0 0 20px 40px;
}

.site_links{
  padding: 10px;
  margin: 0 0 30px 40px;
}

.site_links a{
  text-decoration: none;
  color: aliceblue;
}

.site_links .github{
  height: 40px;
  background-color: whitesmoke;
  border-radius: 100px;
  margin-left: 0;
}

.site_links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* middle */
.middle{
  border: 5px dotted white;
}



/* Main section */
.ExperienceInfo{
  padding: 40px;
  background-color: aliceblue;
  /* background-image: linear-gradient(to right , #0a1520, rgb(104, 59, 104)); */
  color: rgb(4, 4, 96);
}

.ExperienceInfo h3, h4{
  /* color: rgb(16, 8, 240); */
  color: hsl(180, 100%, 8%);
}

.ExperienceInfo h3:hover{
  color: rgb(28, 225, 255);
}

.ExperienceInfo h1{
  font-size: 3rem;
  /* margin-top: 5%; */
}

.expirence h3{
  font-size: 25px;
  text-decoration: underline;
  margin-top: 12%;
}

.expirence h4{
  font-size: 1.2em;
  margin-top: 1.8em;
  line-height: 1.5;
}

.expirence h6{
  margin-left: 10px;
  font-size: 0.7em;
  font-weight:bold;
}

.expirence ul{
  font-size: 1.2em ;
  padding: 25px;
  list-style-type: square;
  line-height: 2.5;
  margin-left: 30px;
}

.education h3{
  font-size: 25px;
  text-decoration: underline;
  margin: 40px 0 -30px 0;
}

.acadamic{
  font-size: 1.2em;
  padding-left: 50px;
  line-height: 2.5; 
 } 

 .acadamic .row1{
   line-height: 18px;
  padding-bottom: 20px;
 }


.skills h3{
  font-size: 25px;
  text-decoration: underline;
  margin: 50px 0 20px 0;
}

.skills .skill_info{
  width: 32em;
  font-size: 1.2em;
  padding-left: 50px;
  box-sizing: border-box;
  line-height: 2.5; 
  list-style-type: none;
}

.bar{
  height: 15px;
  display: block;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0,1px 2px rgba(0,0,0,0.24);
  overflow: hidden;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0,10px 10px rgba(0,0,0,0.22);
}

.bar span{
  height: 20px;
  float: left;
  background: linear-gradient(135deg, rgb(14, 6, 85)0%, rgb(0, 149, 236)100%);
}

.html{
  width: 90%;
  animation: html 3s;
}

.css{
  width: 85%;
  animation: html 3s;
}

.js{
  width: 85%;
  animation: html 3s;
}

.reactjs{
  width: 85%;
  animation: html 3s;
}

.nodejs{
  width: 85%;
  animation: html 3s;
}

.mongoDB{
  width: 88%;
  animation: html 3s;
}

.Tailwind{
  width: 75%;
  animation: Tailwind 3s;
}

.ccna{
  width: 60%;
  animation: ccna 3s;
}

/* @keyframes html {
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
} */

/* @keyframes css {
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
} */

/* @keyframes js {
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
} */

/* @keyframes reactjs {
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
} */

/* @keyframes nodejs {
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
} */

/* @keyframes mongoDB {
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
} */

/* @keyframes Tailwind {
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
} */

/* @keyframes ccna {
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
} */


/* ------------screen - 1200px------------------ */
@media (max-width: 1200px) {
  .container{
    padding: 0;
    /* margin: 30px; */
    overflow: hidden;
  }

  .contentInfo{
    width: 100%;
  }

  .personalDetails{
    width: 18em;
    font-size: 16px;
    /* padding-bottom: 80px; */
  }

  .personalDetails h2:first-child{
    margin-top: 50%;
  }

  .personalDetails h1{
    font-size: 28px;
    padding-bottom: 50px;
  }

  .personalDetails h2{
    font-size: 20px;
  }

  .Professional p{
    word-spacing: 0px;
    text-align: justify;
    line-height: 1.5em;
    padding-right: 6px;
  }
  
  /* .site_links .github{
    height: 40px;
    background-color: whitesmoke;
    border-radius: 100px;
    margin-left: 0;
  } */

  .ExperienceInfo{
    width: 800px;
    /* font-size: 14px; */
  }

  .ExperienceInfo h3{
    font-size: 20px;
  }

  .ExperienceInfo h4{
    padding-left: 20px ;
    font-size: 19px;
  }

  .expirence ul{
    font-size: 17px;
    font-weight: 500;
  }

  .education .acadamic {
    font-size: 17px;
    font-weight: 500;
    padding-left: 50px;
  }

  .skills .skill_info{
    width: 30em;
    padding-left: 50px;
    box-sizing: border-box;
    line-height: 2.9; 
    list-style-type: none;
  }
  
  .skills .skill_info h5{
    font-size: 17px;
  }
}

/* ------------------SCREEN - 900--------------------- */
@media (max-width: 900px) {
  .container{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .contentInfo{
    width: 100%;
  }

  .personalDetails{
    width: 18em;
    height: 100%;
    padding-bottom: 100px;
    box-sizing: border-box;
    line-height: 1.8;
  }

  .personalDetails h2:first-child{
    margin-top: 50%;
  }

  .personalDetails h1{
    font-size: 1.5em;
  }

  .personalDetails{
    font-size: 16px;
    text-align: justify;
  }

  .personalDetails h2{
    font-size: 20px;
  }

  .Professional p{
    word-spacing: 0px;
    text-align: justify;
    /* line-height: 1.5em; */
    padding-right: 6px;
  }
  
  .ExperienceInfo{
    /* padding: 10px; */
    width: 550px;
    font-size: 16px;
  }

  .ExperienceInfo h3{
    font-size: 20px;
  }

  .ExperienceInfo h4{
    padding-left: 20px ;
    font-size: 18px;
  }

  .expirence ul{
    font-size: 16px;
    font-weight: 500;
  }

  .education .acadamic {
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
    padding-left: 25px;
  }

  .skills .skill_info{
    width: 22em;
    padding-left: 30px;
    box-sizing: border-box;
    line-height: 2.9; 
    list-style-type: none;
  }

  .skills .skill_info h5{
    font-size: 16px;
  }
  
}


/* ------------------SCREEN - 768px--------------------- */
@media (max-width: 768px) {
  .container{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .contentInfo{
    width: 100%;
    /* height: 100%; */
  }

  .personalDetails{
    width: 220px;
    font-size: 14px;
  }

  .personalDetails h1{
    font-size: 18px;
    padding-left: 15px;
    margin-bottom: 20px;
  }

  .personalDetails h2{
    padding-left: 0px;
    padding-top: 10px;
  }

  .Professional p{
    /* word-spacing: 0px; */
    text-align: justify;
  }

  .personalDetails ul{
    padding: 0px;
    margin: 0 0 0px -12px;
    list-style-type:square;
  }

  .Professional p{
    margin: 0 0 0px -16px;
    text-align:justify;
  }

  .ExperienceInfo{
    padding: 0;
    width: 480px;
    font-size: 14px;
  }

  .ExperienceInfo h3{
    padding-left: 20px ;
    font-size: 20px;
  }

  .ExperienceInfo h4{
    padding-left: 20px ;
    font-size: 18px;
  }

  .expirence ul{
    font-size: 14px;
    font-weight: 500;
  }

  .education .acadamic {
    font-size: 14px;
    font-weight: 500;
    padding-left: 22px;
  }

  .acadamic .row1{
    line-height: 18px;
   }


   .skills .skill_info{
    width: 20em;
    font-weight: 500;
    margin-left: 30px;
    line-height: 2.5; 
    padding-left: 25px;
    box-sizing: border-box;
    list-style-type: none;
  }

  .skills .skill_info h5{
    font-size: 14px;
  }

  .skills .skill_info li{
    padding-bottom: 10px;
  }

  .bar{
    height: 10px;
  }
}


/* ------------------SCREEN - 600px--------------------- */
@media (max-width: 600px) {
  .container{
    width: 100%;
  }

  .contentInfo{
    flex-direction: column;
  }

  .personalDetails{
    width: 100%;
    font-size: 18px;
  }

  .personalDetails h1{
    font-size: 30px;
  }

  .personalDetails h2{
    font-size: 24px;
  }
  .Professional p{
    word-spacing: 2px;
    text-align: left;
    padding-left: 30px;
  }

  .personalDetails ul{
    padding-left: 60px;
  }

  .ExperienceInfo{
    padding: 0;
    width: 100%;
    /* font-size: 18px; */
  }

  .ExperienceInfo h3{
    padding-left: 20px ;
    font-size: 24px;
  }

  .ExperienceInfo h4{
    padding-left: 20px ;
    font-size: 19px;
  }

  .expirence ul{
    font-size: 17px;
    font-weight: 500;
    padding-left: 40px;
  }

  .education .acadamic{
    width: 32em;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 500;
    line-height: 2.5; 
   } 
  
   .skills .skill_info{
    width: 24em;
    font-size: 1.2em;
    margin-left: 30px;
    line-height: 2.5;
    padding-left: 40px;
    box-sizing: border-box;
    list-style-type: none;
    padding-bottom: 40px;
  }
  
  .middle{
    border: none;
  }
}


/* ------------------SCREEN - 480px--------------------- */
@media (max-width: 480px) {
  .container{
    width: 100%;
  }

  .contentInfo{
    flex-direction: column;
  }

  .personalDetails{
    width: 100%;
    font-size: 18px;
  }

  .personalDetails h1{
    font-size: 30px;
  }

  .personalDetails h2{
    font-size: 24px;
  }
  .Professional p{
    word-spacing: 2px;
    text-align: left;
    padding-left: 30px;
  }

  .personalDetails ul{
    padding-left: 40px;
  }

  .ExperienceInfo{
    padding: 0;
    width: 100%;
    /* font-size: 18px; */
  }

  .ExperienceInfo h3{
    padding-left: 20px ;
    font-size: 24px;
  }

  .ExperienceInfo h4{
    padding-left: 20px ;
    font-size: 19px;
  }

  .expirence ul{
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
  }

  .education .acadamic{
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5; 
   } 
  
   .skills .skill_info{
    width: 18em;
    margin-left: 30px;
    line-height: 2.5;
    padding-left: 20px;
    box-sizing: border-box;
    list-style-type: none;
    padding-bottom: 40px;
  }

  .skills .skill_info h5{
    font-size: 16px;
  }
  
  .middle{
    border: none;
  }
}


/* ------------------SCREEN - 320px--------------------- */
@media (max-width: 320px) {
  .container{
    width: 100%;
  }

  .contentInfo{
    flex-direction: column;
  }

  .personalDetails{
    width: 100%;
    font-size: 18px;
  }

  .personalDetails h1{
    font-size: 26px;
  }

  .personalDetails h2{
    font-size: 18px;
  }
  .Professional p{
    font-size: 12px;
    word-spacing: 2px;
    text-align: left;
    padding-left: 10px;
  }

  .personalDetails ul{
    font-size: 12px;
    padding-left: 20px;
  }

  .ExperienceInfo{
    padding: 0;
    width: 100%;
    /* font-size: 18px; */
  }

  .ExperienceInfo h3{
    padding-left: 20px ;
    font-size: 18px;
  }

  .ExperienceInfo h4{
    padding-left: 20px ;
    font-size: 16px;
  }

  .expirence ul{
    font-size: 12px;
    font-weight: 500;
    padding-left: 20px;
  }

  .education .acadamic{
    padding-left: 0px;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.5; 
   } 
  
   .skills .skill_info{
    width: 14em;
    font-size: 1.1em;
    margin-left: 30px;
    line-height: 2.5;
    padding-left: 0px;
    box-sizing: border-box;
    list-style-type: none;
    padding-bottom: 40px;
  }
  
  .middle{
    border: none;
  }
}
